[submodule "lib/marked"]
	path = lib/marked
	url = https://github.com/markedjs/marked.git
[submodule "lib/oldmarked"]
	path = lib/oldmarked
	url = https://github.com/saaavsaaa/marked.git
[submodule "lib/jaxjs"]
	path = lib/jaxjs
	url = https://github.com/mathjax/MathJax.git
